@import './assets/_global.scss';

* {
    text-decoration: none !important;
    box-sizing: border-box;
    padding: 0;
    margin:0;
    -ms-overflow-style: none;
  }

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color:$bg-color !important;
    overflow:hidden;
}

body::-webkit-scrollbar{
  display: none;
}

.App {
  height:100%;
  width:100%;
  padding-top: 7rem;
}