@import '../../../assets/_global.scss';


.maintitle {
    color:$poke-yellow; 
    padding-top:10px; 
    font-size:70px;
    font-family:'Pokemon Solid'; 
    letter-spacing:4px;
    text-shadow:3px 0 0 $poke-blue, -3px 0 0 $poke-blue, 0 3px 0 $poke-blue, 0 -3px 0 $poke-blue, 2px 2px $poke-blue, -2px -2px 0 $poke-blue, 2px -2px 0 $poke-blue, -2px 2px 0 $poke-blue;
}

.subtitle {
    color:$poke-yellow;
    font-weight:'bold'; 
    text-shadow:2px 0 0 $poke-blue, -2px 0 0 $poke-blue, 0 2px 0 $poke-blue, 0 -2px 0 $poke-blue, 1px 1px $poke-blue, -1px -1px 0 $poke-blue, 1px -1px 0 $poke-blue, -1px 1px 0 $poke-blue; 
    font-family:'Pokemon Solid';
    letter-spacing:'4px';
}

.content { 
    margin-top:1em; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    margin:auto;
}

.guess-text {
    font-family:'Allerta';
    color:$poke-blue;
    font-weight:bold;
}

.randomize {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background-color: #4e6096;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1.5vw;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
    width: 20%;
    min-width: 100px;
    max-width: 180px;
    max-height: 50px;
    margin-bottom: 1em;
  }
  
  .randomize:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color: #476e9e;
  }
  
  .randomize:active {
    position: relative;
    top: 1px;
  }

@media (max-width: 600px) {
  .randomize {
    font-size: 4vw;
    padding: 10px 20px;
    min-width: 120px;
    max-width: 160px;
  }
}

@media (min-width: 1200px) {
  .randomize {
    font-size: 1.25vw;
    padding: 14px 40px;
  }
}
  
  