@import '../../global.scss';


.maintitle {
    color:$poke-yellow; 
    padding-top:10px; 
    font-size:70px;
    font-family:'Pokemon Solid'; 
    letter-spacing:4px;
    text-shadow:3px 0 0 $poke-blue, -3px 0 0 $poke-blue, 0 3px 0 $poke-blue, 0 -3px 0 $poke-blue, 2px 2px $poke-blue, -2px -2px 0 $poke-blue, 2px -2px 0 $poke-blue, -2px 2px 0 $poke-blue;
}

.subtitle {
    color:$poke-yellow;
    font-weight:'bold'; 
    text-shadow:2px 0 0 $poke-blue, -2px 0 0 $poke-blue, 0 2px 0 $poke-blue, 0 -2px 0 $poke-blue, 1px 1px $poke-blue, -1px -1px 0 $poke-blue, 1px -1px 0 $poke-blue, -1px 1px 0 $poke-blue; 
    font-family:'Pokemon Solid';
    letter-spacing:'4px';
}

.content { 
    margin-top:1em; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    margin:auto;
}

.guess-text {
    font-family:'Allerta';
    color:$poke-blue;
    font-weight:bold;
}