@import '../../../assets/global';

.table-contain {
    width:100%;
    //border:1px solid red;
    .table {
        @media(min-width: 800px) {
            width:780px;
            margin:0 auto;
            margin-top: 10px;
            margin-bottom: 10px;
            .headeritems {
                font-size: 14px;
            }
        }

        width:100%;
        margin-top: 10px;
        border-spacing: 0px;
        border-collapse: separate;

        th, td {
            border: 1px solid #000; // Default border color
        }
        th {
            padding:5px 0 5px 0;
        }
    }
}
.headeritems {
    font-size: 10px;
}