.table-contain {
    overflow-x: auto;
    .table {
        width:100%;
        margin-top: 10px;
        @media(min-width: 768px) {
            width:700px;
            margin:0 auto;
            margin-top: 10px;
        }

        tr, th, td {
            border: 1px solid #000; // Default border color
        }
        th {
            padding:5px 0 5px 0;
        }
    }
}
.headeritems {
    font-size: 14px;
}