.faicon {
    color:#646464;
    margin-right:20px; 
    height:30px;
    width:30px;
    cursor: pointer;
    &:hover {
        color:#878787 !important;
    }
    &:active {
        color:#000 !important;
    }
}

.icon-contain {
    margin:auto;
    margin-left:20px;
}

.navbar {
    height:60px; 
    display:flex; 
    justify-content:space-around;
    position:absolute;
}